body {
	background-color: gray;
	width: 600px;
	margin: 0 auto;
}
#myApp {
	width: 500px;
	height: 85%;
	background-color: wheat;
	margin: 0 auto;
}
#purchaseWidget {
	width: 65%;
	height: 600px;
	border-radius: 2px;
	border: solid red 1px;
	margin: 0 auto;
}
.single-quality-tab {
	display: block;
	width: 25%;
	float: left;
}
.single-quality-tab img {
	width: 100px;
	height: 65px;
}
.clear-both {
	clear: both;
}
#ticketCounter * {
	border: solid red 1px;
	margin: 0 auto;
}
.ticket-counter {
	height: 60px;
    width: 70%;
}
.ticket-num {
	height: 100%;
	width: 65%;
	float: left;
}
.control-pan {
	height: 100%;
	width:30%;
	float: left;
}
#up_arrow {
	height: 50%;
	background-color: green;
}
#down_arrow {
	height: 50%;
	background-color: red;
}